<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Welcome to Blog Butterfly where your blog posts reach many places. This is a platform to write about anything you want.</p>
        <p>The website is built using Express and the front end structure is built using ejs view.</p>
        <p>It has error handling mechanism where it will redirect you to the home page. Feel free to try it out. </p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>